
window-rule {                     // 全局规则：没有match
    geometry-corner-radius 20     // 圆角内径
    clip-to-geometry true         // 圆角圆滑处理
    open-maximized false          // 新窗口默认不最大化
    open-floating false           // 新窗口默认平铺，而非浮动
    //clip-to-geometry true         // 把内容复制到圆角边界内
}

// Noctalia 设置窗口.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true                    // 窗口浮动
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

window-rule {
    match app-id="^(steam_app_.*)$"
    variable-refresh-rate true
    open-fullscreen true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}


// 微信悬浮窗
window-rule {
    match app-id="wechat"
    exclude title="^微信$"
    default-window-height {
        proportion 0.6;
    }
}
